/.idea/
/.ssh/
/build/
/deps/
/dist/
/node_modules/
/vendor/
/.php_cs.cache
/src.old/
.DS_Store
*/.DS_Store
.DS_Store
assets/.DS_Store
assets/apps/.DS_Store
assets/apps/events/.DS_Store
src/.DS_Store
templates/.DS_Store
themes/.DS_Store
themes/kct/.DS_Store
