.events {
  margin-top: 1rem;

  .events-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .event {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid $line-color;
    color: $secondary-color;
    text-decoration: none;

    &:hover {
      filter: none;
      background: $light-gray-color;
    }

    .date {
      width: 80px;

      span {
        display: block;
        line-height: 1.3;
      }

      .date-number {
        font-size: $heading-3;
        font-family: $roboto-condensed;
      }
    }

    .icons {
      width: 100px;
      line-height: 1;
      display: flex;
      justify-content: end;
      align-content: flex-start;
      flex-wrap: wrap;
    }

    .content {
      flex: 1;
    }

    & > img {
      width: 100px;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  p {
    margin-bottom: 0;
  }
}
