.site-header {
	.container {
		padding: 10px 20px;

		@media only screen and (max-width: 500px) {
			padding: 10px;
			gap: 1rem;
		}
	}

	.custom-logo-link {
		flex: 0 0 auto;

		img {
			max-width: 250px;
			max-height: 100px;
			height: auto;
			width: auto;
			display: block;

			@media only screen and (max-width: 500px) {
				max-width: 60px;
			}
		}
	}

	.site-header-right {
		flex: 1;
	}

	.site-title {
		font-family: $roboto-condensed;
		font-size: $heading-2;
		line-height: $heading-2;
		flex: 1;

		@media only screen and (max-width: 500px) {
			font-size: $heading-3;
		}

		a {
			text-decoration: none;
			color: $secondary-color;
		}
	}

	.secondary-logo {
		@media only screen and (max-width: 420px) {
			display: none;
		}
	}

	.site-branding {
		display: flex;
		height: 60px;
		align-content: center;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		flex-wrap: wrap;
		border-bottom: 1px solid $line-color;
		padding-bottom: 5px;

		@media only screen and (max-width: 420px) {
			height: 40px;
		}

		& > * {
			margin-bottom: 0;
		}
	}
}
